:root {
  --grid-width: 5;
  --grid-height: 6;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  flex: 1;
  margin: 1em;
  height: 80vh;
}

.cell {
  font-size: 2em;
  color: white;
  border: 0.05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell.start {
  background-color: green;
}
